/* customr css and js files included at the top level of your presentation will
 * will be included in your presentation */

.slide {
    border-top: 5px solid red;
}

.branding {
    border-bottom: 5px solid red;
    height: 50px;
    position: absolute;
    top: 684px;
    right: 0px;
    width: 1024px;
}
.branding img {
    float: right;
}

img[alt="rails"], img[alt="sinatra"], img[alt="html5"] {
    margin-left: 30px;
}

.box {
    margin: 10px 150px;
    border:solid 10px #000000;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.wider {
    padding: 70px 0px;
}
