/* customr css and js files included at the top level of your presentation will
 * will be included in your presentation */

body {
    font-family: "daysregular", Helvetica, Arial, sans-serif;
}

.slide {
    outline: 5px solid red;
    outline-offset: -10px;
    height: 726px;
}

.slide[data-sequence='1'] .content .word7 {
    color: #47497c;
}

.slide[data-sequence='1'] .content h1 {
    margin: 1.5em 0;
}

.slide[data-sequence='10'] .container_12 .grid_6 {
    width: 350px;
}

.slide[data-sequence='10'] .container_12 :last-child {
    width: 570px;
}

.slide[data-sequence='16'] .content > :nth-child(3) {
    margin-left: 120px;
}

.slide[data-sequence='16'] .content > :nth-child(4) {
    margin-left: 200px;
}

.slide[data-sequence='19'] .content p {
    margin: 0 5px;
}

.slide[data-sequence='30'] .content p {
    margin: 0px;
}
.slide[data-sequence='30'] .content ul li {
    font-size: 50%;
}

.slide[data-sequence='30'] .content ul li pre {
    margin: .5em 40px;
}
.slide[data-sequence='31'] {
    opacity: .4 !important;
}

#supersized {
    position: absolute;
    top: 0px;
    left: 69.8px;
    width: 1024px;
    height: 726px;
}

img[alt="sugar"] {
    margin-left: 400px;
    margin-top: -200px;
}

img[alt="burglar"] {
    position: absolute;
    top: 330px;
    left: 30px;
}

img[alt="burglar2"] {
    position: absolute;
    top: 570px;
    right: 250px;
}

.smbullets > ul > li {
    text-align: left;
}

.branding {
    height: 50px;
    position: absolute;
    top: 650px;
    right: 10px;
    width: 1024px;
}
.branding img {
    float: right;
}

img[alt="rails"], img[alt="sinatra"], img[alt="html5"] {
    margin-left: 30px;
}

.box {
    margin: 10px 150px;
    border:solid 10px #000000;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.wider {
    padding: 70px 0px;
}
